<footer>
<div class="row">
  <div class="column">
    <h2>Links Group 1</h2>
    <ul>
      <li>
        <a href="#">Monster 1</a>
      </li>
      <li>
        <a href="#">Monster 2</a>
      </li>
      <li>
        <a href="#">Monster 3</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h2>Links Group 2</h2>
    <ul>
      <li>
        <a href="#">Weapon 1</a>
      </li>
      <li>
        <a href="#">Weapon 2</a>
      </li>
      <li>
        <a href="#">Weapon 3</a>
      </li>
    </ul>
  </div>
</div>
<div class="name">
    © Jerico Radin 2020
</div>
</footer>